{% extends 'base.html' %}

{% block title %} Login | {{ block.super }} {% endblock title %}

{% block content %}

<!-- heading section starts -->

<section class="heading">
    <h1>account</h1>
    <p><a href="{% url 'home' %}">home</a> >> login</p>
</section>

<!-- heading section ends -->


<!-- login form section starts -->

<section class="login-form">

    <form action="" method="post">
        {% csrf_token %}
        <h3>user login</h3>
        <div class="inputBox">
            <span class="fas fa-user"></span>
            {{ form.login }}
        </div>
        <div class="inputBox">
            <span class="fas fa-lock"></span>
            {{ form.password }}
        </div>
        <input type="submit" value="Sign in" class="btn">
        <div class="flex">
            <a href="">forgot password?</a>
        </div>
        <a href="{% url 'account_signup' %}" class="btn">create an account</a>
    </form>

</section>

<!-- login form section ends -->

{% endblock content %}