{% extends 'base.html' %}
{% load static %}

{% block title %} About | {{ block.super }} {% endblock title %}

{% block content %}

<!-- heading section starts -->

<section class="heading">
    <h1>about us</h1>
    <p><a href="{% url 'home' %}">home</a> >> about</p>
</section>

<!-- heading section ends -->


<!-- about section starts -->

<section class="about">

    <h1 class="title">why choose us?</h1>

    <div class="row">

        <div class="image">
            <img src="https://res.cloudinary.com/papacloud/image/upload/v1657322622/media/home-bg/about-img_uhvo30.jpg" alt="">
        </div>

        <div class="content">
            <h3>the best eye glasses sellers</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad temporibus et excepturi. Dolore, quas? Non asperiores aliquam excepturi ipsam harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat quisquam inventore ratione, harum aut quos eius laudantium eum voluptatum!</p>
            <a href="#" class="btn">read more</a>
        </div>

    </div>

    <div class="icons-container">

        <div class="icons">
            <img src="https://res.cloudinary.com/papacloud/image/upload/v1657322711/media/home-bg/icon-1_mxwzgd.png" alt="">
            <h3>all sizes</h3>
        </div>

        <div class="icons">
            <img src="https://res.cloudinary.com/papacloud/image/upload/v1657322712/media/home-bg/icon-2_hi2m2n.png" alt="">
            <h3>free delivery</h3>
        </div>

        <div class="icons">
            <img src="https://res.cloudinary.com/papacloud/image/upload/v1657322712/media/home-bg/icon-3_fbmflh.png" alt="">
            <h3>easy returns</h3>
        </div>

        <div class="icons">
            <img src="https://res.cloudinary.com/papacloud/image/upload/v1657322712/media/home-bg/icon-4_ceziqy.png" alt="">
            <h3>easy payments</h3>
        </div>

        <div class="icons">
            <img src="https://res.cloudinary.com/papacloud/image/upload/v1657322712/media/home-bg/icon-5_qwhgvg.png" alt="">
            <h3>24/7 support</h3>
        </div>

    </div>

</section>

<!-- about section ends -->

{% endblock content %}